<h1>Selamat datang di aplikasi test API sederhana</h1>
<p>Sudah punya akun? Klik <a href="/login">di sini</a> untuk sign in.</p>
<p>Belum punya akun? Klik <a href="/register">di sini</a> untuk sign up</p>
<br><br>
<h3>Catatan:</h3>
<ul>
    <li>
        untuk memeriksa tugas, ketika hendak melakukan login/register
         harap melalui link yang sudah disediakan di halaman ini. Saya
         mengalami kendala ketika mencoba di Postman.
    </li>
    <li>
        Postman collection sudah diexport. Harap mengimpor collection tersebut 
        di komputer Anda.
    </li>
    <li>
        Sebelum memeriksa tugas, harap menuliskan perintah 'npm install' dan
        npx prisma migrate dev di terminal.
    </li>
    <li>
        Sepertinya komputer saya memang bermasalah
    </li>
</ul>