<label>Recovery email : </label>
<form action="/v1/auth/forgetpassword" method="post">
    <input type="email" id="email" name="email" required>
    <input type="submit" id="submit" name="submit" value="Kirim email">
</form>